@page "/"

<h3>Employee List</h3>
<input type="checkbox" id="showFooter" @bind="ShowFooter" />
<label for="showFooter">Show Footer</label>
<div> @SelectedEmployeeCount </div>

@if(Employees != null)
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <DisplayEmployee Employee="employee" ShowFooter="ShowFooter" OnEmployeeSelection="EmployeeSelectionChanged"
             OnEmployeeDeleted="EmployeeDeleted"   />
        }
    </div>
}
else
{
<div class="spinner"></div>
}


@code {
    [Inject]
    public IEmployeeService EmployeeService { get; set; }

    public IEnumerable<Employee> Employees { get; set; }

    public bool ShowFooter { get; set; } = true;

    public int SelectedEmployeeCount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Employees = (await EmployeeService.GetEmployees()).ToList();
    }

    protected void EmployeeSelectionChanged(bool isSelected )
    {
        if(isSelected)
        {
            SelectedEmployeeCount++;
        }
        else
        {
            SelectedEmployeeCount--;
        }
    }

    protected async Task EmployeeDeleted(int id)
    {
        Employees = (await EmployeeService.GetEmployees()).ToList();
    }
}
